@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

$white: #fff;

$black: #39454b;

$offWhite: #f5f6f7;

$font-stack: 'Source Sans Pro', sans-serif;

body {
	color: $black;
	font-family: $font-stack;
}

section {
	padding: 10em 0;
}

.text-shadow {
	text-shadow: 1px 1px black;
}